@page "{code:int?}"
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

@if (Model.Code == 404)
{
    <div class="placard">
        <h1 class="text-danger display-4">@ViewData["Title"]</h1>
        <h3 class="text-warning">No such page</h3>
        <p class="lead">No content was found at this address.</p>
    </div>
}
else if (Model.Code == 401)
{
    <div class="placard">
        <h1 class="text-danger display-4">@ViewData["Title"]</h1>
        <h3 class="text-warning">Not authorized</h3>
        <p class="lead">You do not have permission to view this content.</p>
        <p>The author and/or most recent editor of wiki content may specify that only certain individuals or groups are permitted to view their content.</p>
        <p>
            If you believe that you should be allowed to see this content, try signing in. If
            you are already logged in, you may need to ask the author of the content to add you
            to the list of people with permission.
        </p>
        <p>If you don't know who the author is, then this content probably isn't meant for you.</p>
        <p class="mt-0">
            If you expected to be able to create your own content with this title, try choosing
            a different namespace for your own content. Content in different namespaces can have
            the same title without overlapping.
        </p>
    </div>
}
else
{
    <div class="placard">
        <h1 class="text-danger display-4">@ViewData["Title"]</h1>
        <p class="lead">An error occurred while processing your request.</p>
        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <p>@Model.ErrorMessage</p>
        }
    </div>
}
