<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>NeverFoundry Wiki - @ViewData["Title"]</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, shrink-to-fit=no, user-scalable=no" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i|Roboto+Mono:400,400i,700,700i|Noto+Serif:400,400i,700,700i|Material+Icons&display=swap&subset=cyrillic-ext,greek-ext,latin-ext" rel="stylesheet">
    <link href="~/_content/NeverFoundry.Wiki.Mvc/libstyles.css" rel="stylesheet" />
    <link href="~/_content/NeverFoundry.Wiki.Mvc/styles.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()

    <script src="~/_content/NeverFoundry.Wiki.Mvc/script.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
