@{
    ViewData["Title"] = "Not Authorized";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container d-flex flex-column">
        <h2>Not authorized</h2>
        <p class="lead">You must be signed in to access this content.</p>
        <p>Please sign in to your wiki account.</p>
    </div>
</div>
