@page
@model ConfirmAdminDeleteModel
@{
    ViewData["Title"] = "Confirm user delete";
}

<div class="placard">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <div class="alert alert-warning" role="alert">
        <h4>Are you sure?</h4>
        <p>Deleting an account is <strong class="text-danger">permanent</strong>.</p>
        <p>You may want to consider <strong>disabling</strong> the account instead, which can be undone later.</p>
    </div>
</div>
<div class="row justify-content-center mb-3">
    <div class="col-sm-6">
        <form method="post">
            <input type="hidden" asp-for="Input.UserId" />
            <button type="submit" asp-page-handler="Cancel" class="btn btn-secondary">Cancel</button>
            <button type="submit" asp-page-handler="Confirm" class="btn btn-danger">Yes, delete</button>
        </form>
    </div>
</div>
