@page
@model Disable2faModel
@{
    ViewData["Title"] = "Disable two-factor authentication";
}

<partial name="_ErrorMessage" for="ErrorMessage" />
<partial name="_StatusMessage" for="StatusMessage" />

<div class="placard">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Disable two-factor authentication</button>
    </form>
</div>
