@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password";
}

<div class="placard">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>
<div class="row justify-content-center mb-3">
    <div class="col-sm-6">
        <div class="alert alert-success">
            Your password has been successfully reset.
        </div>
        <p>Please <a asp-page="./Login">sign into your account</a> with your new password.</p>
    </div>
</div>
