@model WikiItemViewModel

<div class="wiki-site-subtitle">From @WikiConfig.SiteName</div>
@if (Model.IsDiff)
{
    <div class="wiki-parser-output wiki-diff">@Html.Raw(Model.Html)</div>
}
else
{
    <div class="wiki-parser-output">@Html.Raw(Model.Html)</div>
}
