@model WikiRouteData

<div class="wiki-nocontent">
    <span class="wiki-nocontent-message">This @(Model.IsFile ? "file" : "page") does not exist.</span>
    @if (!Model.IsFile && Model.CanEdit)
    {
        <a href="@Url.Action("Edit")"
           class="wiki-link wiki-link-missing">Create it?</a>
    }
</div>
