@model WikiRouteData

@{
    ViewData["Title"] = "Not Authorized";
}

<div class="placard">
    <h2>Not authorized</h2>
    @if (Model.IsEdit)
    {
        if (Model.WikiItem is null)
        {
            <p class="lead">You cannot create new wiki content in this namespace.</p>
            <p>Some namespaces are reserved for the wiki system, and cannot have articles added to them.</p>
            <p>Please choose a different namespace for your content.</p>
        }
        else
        {
            <p class="lead">You do not have permission to edit this content.</p>
            <p>The author and/or most recent editor of wiki content may specify that only certain individuals or groups are permitted to modify their content.</p>
        }
    }
    else
    {
        <p class="lead">You do not have permission to view this content.</p>
        <p>The author and/or most recent editor of wiki content may specify that only certain individuals or groups are permitted to view their content.</p>
    }
    <p>
        If you believe that you should be allowed to access this content, try signing in. If you
        are already logged in, you may need to ask the author of the content to add you to the
        list of people with permission.
    </p>
    <p>If you don't know who the author is, then this content probably isn't meant for you.</p>
    <p>
        If you were trying to create your own new content with this title, try choosing a
        different namespace for your content. Content in different namespaces can have the same
        title.
    </p>
</div>
