@inject IWikiOptions WikiOptions
@inject IWikiWebOptions WikiWebOptions
@{
    ViewData["Title"] = "Not Authorized";
}

<div class="placard">
    <h2 class="error-text">Not authorized</h2>
    <p class="lead warning-text">You do not have permission to upload files to this wiki.</p>
    <p>
        You may need to sign in.
    </p>
    @if (!string.IsNullOrEmpty(WikiWebOptions.PolicyPageTitle))
    {
        <p>
            Please check the <a href="/@WikiOptions.WikiLinkPrefix/@WikiWebOptions.SystemNamespace:@WikiWebOptions.PolicyPageTitle">policy page</a>
            to find information about who is permitted to upload files to this wiki, and how permission is obtained.
        </p>
    }
    <p>
        Note that it is not necessary to upload image files in order to embed them in articles.
        It is possible to use an image link to display an image hosted externally. Please ensure
        that the image has been properly licensed for display on this wiki, and that you have
        permission to do so.
    </p>
    <p>
        Images in the <a href="https://creativecommons.org">Creative Commons</a> can be easily
        linked with a special syntax: ![[cc:filename.jpg]] will embed the image file
        "filename.jpg" from the Creative Commons. The image will also be a link to the image's
        page on the Creative Commons website, which should satisfy the attribution requirements
        of most <a href="https://creativecommons.org/licenses/">CC-licensed</a> content.
    </p>
</div>
