@{
    ViewData["Title"] = "Not Authorized";
}

<div class="placard">
    <h2>Not authorized</h2>
    <p class="lead">You must be signed in to access this content.</p>
    <p>Please sign in to your wiki account.</p>
</div>
