@{
    ViewData["Title"] = "Special pages";
}

<h2>Lists</h2>
<div class="wiki-special-group">
    <ul>
        <li><a href="/@WikiConfig.WikiLinkPrefix/@WikiWebConfig.SystemNamespace:All_Categories" class="wiki-link wiki-link-exists" title="List all categories">All categories</a></li>
        <li><a href="/@WikiConfig.WikiLinkPrefix/@WikiWebConfig.SystemNamespace:All_Files" class="wiki-link wiki-link-exists" title="List all files">All files</a></li>
        <li><a href="/@WikiConfig.WikiLinkPrefix/@WikiWebConfig.SystemNamespace:All_Pages" class="wiki-link wiki-link-exists" title="List all articles">All pages</a></li>
        <li><a href="/@WikiConfig.WikiLinkPrefix/@WikiWebConfig.SystemNamespace:All_Redirects" class="wiki-link wiki-link-exists" title="List all pages which redirect to another page">All redirects</a></li>
    </ul>
</div>

<h2>Maintenance</h2>
<div class="wiki-special-group">
    <ul>
        <li><a href="/@WikiConfig.WikiLinkPrefix/@WikiWebConfig.SystemNamespace:Broken_Redirects" class="wiki-link wiki-link-exists" title="Pages which redirect to an article that does not exist">Broken redirects</a></li>
        <li><a href="/@WikiConfig.WikiLinkPrefix/@WikiWebConfig.SystemNamespace:Double_Redirects" class="wiki-link wiki-link-exists" title="Pages which redirect to another redirect">Double redirects</a></li>
        <li><a href="/@WikiConfig.WikiLinkPrefix/@WikiWebConfig.SystemNamespace:Missing_Pages" class="wiki-link wiki-link-exists" title="Pages which are linked but do not exist">Missing pages</a></li>
        <li><a href="/@WikiConfig.WikiLinkPrefix/@WikiWebConfig.SystemNamespace:Uncategorized_Articles" class="wiki-link wiki-link-exists" title="Articles which are not categorized">Uncategorized articles</a></li>
        <li><a href="/@WikiConfig.WikiLinkPrefix/@WikiWebConfig.SystemNamespace:Uncategorized_Categories" class="wiki-link wiki-link-exists" title="Categories which are not categorized">Uncategorized categories</a></li>
        <li><a href="/@WikiConfig.WikiLinkPrefix/@WikiWebConfig.SystemNamespace:Uncategorized_Files" class="wiki-link wiki-link-exists" title="Files which are not categorized">Uncategorized files</a></li>
        <li><a href="/@WikiConfig.WikiLinkPrefix/@WikiWebConfig.SystemNamespace:Unused_Categories" class="wiki-link wiki-link-exists" title="Categories which have no articles or subcategories">Unused categories</a></li>
    </ul>
</div>

<h2>Tasks</h2>
<div class="wiki-special-group">
    <ul>
        <li><a href="/@WikiConfig.WikiLinkPrefix/@WikiWebConfig.SystemNamespace:Upload" class="wiki-link wiki-link-exists" title="Upload files">Upload files</a></li>
    </ul>
</div>
