@inject NavigationManager NavigationManager
@inject IWikiOptions WikiOptions

@if (_wikiUri is null)
{
    <div class="wiki-view wiki-view-no-content"></div>
}
else
{
    <iframe class="wiki-view" src="@_wikiUri.ToString()">WikiView</iframe>
}

@code {
    private Uri? _wikiUri;

    /// <summary>
    /// Indicates whether the view should be rendered in compact mode.
    /// </summary>
    [Parameter] public bool Compact { get; set; }

    /// <summary>
    /// <para>
    /// The relative path to the requested wiki page (including any query params).
    /// </para>
    /// <para>
    /// May be left <see langword="null"/> to retrieve the main page.
    /// </para>
    /// <para>
    /// Should not include the main relative path to the wiki (i.e.
    /// <see cref="IWikiOptions.WikiLinkPrefix"/>).
    /// </para>
    /// </summary>
    [Parameter] public string? WikiRoute { get; set; }

    /// <summary>
    /// <para>
    /// The base URL of the wiki. May be relative or absolute.
    /// </para>
    /// <para>
    /// May be omitted, in which case it will default to the app's base URI.
    /// </para>
    /// </summary>
    [Parameter] public string? WikiServerBaseUrl { get; set; }

    protected override void OnParametersSet()
    {
        _wikiUri = Uri.TryCreate(WikiServerBaseUrl ?? NavigationManager.BaseUri, UriKind.RelativeOrAbsolute, out var baseUri)
            ? baseUri
            : null;
        if (_wikiUri is null)
        {
            return;
        }

        if (Compact)
        {

            _wikiUri = new Uri($"{_wikiUri.ToString().TrimEnd('/')}/Compact");
        }

        _wikiUri = Uri.TryCreate($"{_wikiUri.ToString().TrimEnd('/')}/{WikiOptions.WikiLinkPrefix}", UriKind.RelativeOrAbsolute, out baseUri)
            ? baseUri
            : null;
        if (_wikiUri is null)
        {
            return;
        }

        _wikiUri = Uri.TryCreate($"{_wikiUri.ToString()}/{WikiRoute ?? WikiOptions.MainPageTitle}", UriKind.RelativeOrAbsolute, out baseUri)
            ? baseUri
            : null;
    }
}
