@using Microsoft.AspNetCore.Identity

@inject SignInManager<WikiUser> SignInManager

@{
    var returnUrl = $"{Context.Request.Path}{Context.Request.QueryString}";
    if (Context.Request.Query.TryGetValue("returnUrl", out var existingUrl))
    {
        returnUrl = existingUrl;
    }
}

<header id="top-header">
    @if (SignInManager.IsSignedIn(User))
    {
        if (User.HasBoolClaim(WikiClaims.Claim_SiteAdmin))
        {
            <a id="admin-link" asp-page="/AdminPortal">Admin portal</a>
        }
        <a id="profile-link" asp-page="/Account/Index">
            <i class="material-icons">account_circle</i>
            <span>Account</span>
        </a>
        <form class="form-inline" asp-page="/Account/SignOut" asp-route-returnUrl="@returnUrl" method="post">
            <button id="signout-link" type="submit" class="btn btn-link">Sign out</button>
        </form>
    }
    else
    {
        <a id="signin-link" asp-page="/Account/Login" asp-route-returnUrl="@returnUrl">Sign in</a>
    }
</header>
