@page
@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container d-flex flex-column">
        <h1 class="display-4">NeverFoundry Wiki</h1>
        <p class="lead">
            This is the sample for the <code>NeverFoundry.Wiki.Mvc</code> library: an implementation
            of <code>NeverFoundry.Wiki</code> for <a href="https://docs.microsoft.com/en-us/aspnet/core/mvc/overview">ASP.NET Core MVC</a>.
        </p>
        <p>
            <a href="/Wiki">Click here to view the sample wiki.</a>
        </p>
    </div>
</div>
