@page
@model NeverFoundry.Wiki.MVCSample.Pages.Account.EnableFido2MfaModel
@{
    ViewData["Title"] = "Register authenticator device";
}

<div class="placard">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p class="lead">Add an authenticator device to your account.</p>
    <div id="fido2NotSupportedWarning" class="alert alert-danger mt-3" style="display: none;">
        <p>Your browser does not seem to support the Web Authentication API yet.</p>
        <p class="mb-0"><a href="https://caniuse.com/#search=webauthn" target="_blank" class="alert-link">Click here</a> to see a list of supported browser versions.</p>
    </div>
    <form action="/mfa" method="post" id="fido2-register">
        <input type="hidden" name="username" value="@Model.Email" />
        <input type="hidden" name="displayName" value="@Model.UserName" />
        <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />

        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="js/fido2.js"></script>
}
