@page
@model ShowRecoveryCodesModel
@{
    ViewData["Title"] = "Recovery codes";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container d-flex flex-column">
        <h1 class="display-4">@ViewData["Title"]</h1>
        <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading">Put these codes in a safe place.</h4>
            <p>If you lose your authenticator device and you don't have a recovery code, you will permanently lose access to your account.</p>
        </div>
        @for (var row = 0; row < Model.RecoveryCodes!.Length; row += 2)
        {
            <div class="row justify-content-center">
                <div class="col-auto"><code>@Model.RecoveryCodes[row]</code></div>
                @if (Model.RecoveryCodes.Length > row + 1)
                {
                    <div class="col-auto"><code>@Model.RecoveryCodes[row + 1]</code></div>
                }
            </div>
        }
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <p class="text-warning">If you have previously generated recovery codes, you should discard them.</p>
                <p>Each time you get a new set of recovery codes from this page, all prior codes become invalid and will no longer work.</p>
                <p>It's a good idea to keep your recovery codes on a separate device from your authenticator. For example: if you use an authenticator app on your phone, you should put your recovery codes in a text file on your home computer, or in a file on a secure cloud drive, or even write them on a piece of paper. That way if you lose your phone, you won't be permanently locked out of your account.</p>
            </div>
        </div>
    </div>
</div>
