@import "custom";

/* Layout */
.top-header {
    align-items: baseline;
    display: flex;
    justify-content: flex-end;
    padding: 0.33em 0.75em;
    z-index: 100;

    .account-main > div > & {
        height: auto;
    }

    @media screen and (min-width: 982px) {
        padding-left: 1em;
        padding-right: 1em;
    }

    > * {
        font-size: 0.75em;
        line-height: 1.166667;
        padding-top: 0.5em;

        &:not(:first-child) {
            margin-left: 0.75em;
        }
    }

    a {
        white-space: nowrap;
    }

    .btn-link {
        border: none;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }
}

main.container-fluid {
    margin-top: 0.25em;
    padding-left: 0;
    padding-right: 0;
}

.account-main {
    @media screen and (min-width: 982px) {
        background-image: linear-gradient(to bottom, $background-color 1.9em, transparent 4.4em);
    }

    .placard {
        padding: 0;
        text-align: center;
    }
}

footer.wiki-bottom-footer {
    padding-top: 0.75em;

    @media screen and (min-width: 982px) {
        padding-top: 1.25em;
    }
}

/* wiki */
.wiki-sidebar-logo-link {
    background-image: url(images/neverfoundry_160.svg);
}

.wiki-heading-edit:after {
    font-family: 'Material Icons';
    content: 'create';
}

/* Validation */
.form-control {
    &.valid.modified:not([type=checkbox]) {
        border-color: $form-feedback-valid-color;
    }

    &.invalid {
        border-color: $form-feedback-invalid-color;
    }
}

.form-check-label.valid.modified {
    color: $form-feedback-valid-color;
}

.form-check-label.invalid {
    color: $form-feedback-invalid-color;
}

.validation-message {
    width: 100%;
    margin-top: $form-feedback-margin-top;
    font-size: $form-feedback-font-size;
    color: $form-feedback-invalid-color;
}

/* Icons */
.material-icons {
    font-size: 1rem;
    line-height: inherit;
    vertical-align: text-bottom;

    &.icon {
        font-size: 1.5rem;
    }
}

/* Modal defaults */
.modal--fade .modal-inner, .modal--show .modal-inner {
    background: $gray-800;
}

.modal--fade .modal-content, .modal--show .modal-content {
    background-color: $gray-700;
    border-radius: 0;
    border-top: unset;
    border-left: unset;
    border-right: unset;
    border-bottom-color: $body-bg;
    display: block;
}

.modal--fade header, .modal--show header {
    border-bottom-color: $body-bg;
}

.modal--fade footer, .modal--show footer {
    border-top-color: $body-bg;
    background-color: $gray-800;
}
